.instructions {
    border: 1px solid black;
}
.header {
    width: 60%;
    margin: 0 auto;
}

.download-section {
    width: 50%;
    margin: 0 auto;
}
.upload-section {
    width: 50%;
    margin: 0 auto;
}

.recommendation-section {
    width: 50%;
    margin: 0 auto;
}

.table-section {
    text-align: center;
}
.recTable {
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.recTable th {
    border:1px solid black;
    height: 70px;
}

.recTable td {
    border:1px solid black;
    
}